.modal {
  position: fixed;
  top: 0;
  color: red;
  z-index: 1000;
  width: 100%;
  font-size: 800;
  height: 100vh;
  background: rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 12rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.item {
  width: 85%;
  font-size: 1.75rem;
  border: none;
  border-radius: 0.25rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
  border: 2px solid black;
  padding: 0.25rem;
  color: #003728;
  background-color: white;
  text-wrap: pretty;
}

.card {
  background: #003728;
  text-align: center;
  width: 30%;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.75rem;
}

@media only screen and (max-width: 1000px) {
  .card {
    width: 70%;
  }
}
