.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 2rem 4rem;
}

.heading {
  font-size: 2.25rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #003728;
}

.hr {
  width: 90%;
  height: 2px;
  color: #003728;
  background-color: #003728;
  border: none;
  border-radius: 2px;
}

.profile {
  margin-right: 2rem;
  font-size: 1.75rem;
  font-weight: 600;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 90%;
  margin-top: 1rem;
}

.title {
  color: #003728;
  border: 2px solid #006a4e;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  font-weight: 700;
  margin-left: 2rem;
}

.description {
  width: 60%;
  text-wrap: pretty;
  font-size: large;
  font-size: 1.5rem;
  font-weight: 500;
}

@media only screen and (max-width: 1000px) {
  .main {
    padding: 1rem 2rem;
  }

  .heading {
    font-size: 2rem;
  }

  .profile,
  .title {
    font-size: 1.5rem;
  }

  .description {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 600px) {
  .heading {
    font-size: 1.75rem;
    font-weight: 600;
  }

  .profile,
  .title {
    font-size: 1.25rem;
    font-weight: 500;
  }

  .title {
    margin-left: 0;
  }

  .profile {
    flex-direction: column;
  }

  .description {
    font-size: 1rem;
    font-weight: 400;
    width: auto;
    margin-top: 0.5rem;
  }
}
